script(src='./components/profile/profile.js')

include ../base/styled-control-btn/styled-control-btn.pug
include ../base/styled-input/styled-input.pug
include ../base/styled-btn/styled-btn.pug
include ../base/avatar/avatar.pug

mixin profile(person)
    .profile 
        .profile__block
            img.profile__image(src=person.avatar, onclick='application.profile.onAvatarClick()')
        .profile__block
            +styled-input('Почта', false, person.email)
        .profile__block
            +styled-input('Логин', false, person.login)
        .profile__block
            +styled-input('Имя', false, person.first_name)
        .profile__block
            +styled-input('Фамилия', false, person.second_name)
        .profile__block
            +styled-input('Телефон', false, person.phone)
        .profile__block
            +styled-input('Новый пароль', true, '')
        .profile__block
            +styled-input('Старый пароль', true, '')
        .profile__block
            .profile__btn-block
                div(onclick='application.profile.saveChanges()')
                    +styled-btn('Сохранить изменения')
                div(onclick='application.profile.signOut()')
                    +styled-btn('Выйти')
        input(id='avatar_input', style="display: none", type='file')