.message
    time.message__text(class=message.user_id == userId ? 'message__text--self' : null) #{message.content}
    time.message__time(class=message.user_id == userId ? 'message__time--self' : null) #{message.time.slice(11, 16)}