script(src='./50x.js')
include ../../components/base/styled-btn/styled-btn.pug

script.
    function backToMain() {
        window.location = '/main.html'
    }

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Вход
    body(style='height: 100vh; display: flex; flex-direction: column; justify-content: center')
        .error-title Неполадки на сервере
        div(style='display: flex; justify-content: center', onclick='backToMain()')
            +styled-btn('Вернуться на главную')