@import '/variables.scss';

.styled-control-button {
  cursor: pointer;
  width: 35px;
  height: 35px;
  padding: 10px;
  color: $labelPrimary;
  background: $btnSecondary;
  border-radius: 50%;
  border: none;
}
