@import '/variables.scss';

.styled-input {
    padding: 10px 30px;
    background-color: #1F1D15;
    border-radius: 20px;

    &__label {
        color: $labelPrimary;
        font-size: .8rem;
    }

    &__input {
        background-color: #1F1D15;
        color: $inputPrimary;
        font-size: 1rem;
        border: none;

        &:focus {
            outline: none;
        }
    }
}