script(src='/components/base/styled-input/styled-input.js')
    
mixin styled-input(label, isPassword = false, value)
    .styled-input
        .styled-input__label #{label}
        input.styled-input__input(id=label, value=value, type=isPassword ? 'password' : null)