script(src='./components/chat-person/chat-person.js')

include ../base/styled-control-btn/styled-control-btn.pug
include ../base/avatar/avatar.pug

mixin chat-person(person, active)
    .chat-person__friend-info
        +avatar(person.avatar)
        .chat-person__friend-info__label #{person.login}
    .chat-person__btn-block
        if person.unread
            +styled-control-btn(person.unread)
        else if person.name
            +styled-control-btn('+')