@import '/variables.scss';
@import '/common.scss';

.chat-container {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-block {
  width: 100%;
  display: flex;
  justify-content: start;

  &--self {
    justify-content: end;
  }
}

.message-date {
  display: flex;
  justify-content: center;
  color: $labelPrimary;
  margin: 10px 0;
}
