form.new-message-block
    div
        | !{addFileBtn}
        input(id='file_input', style="display: none", type='file')
    div(style='width: 100%')
        | !{messageInput}
    div()
        | !{sendBtn}