@import '/variables.scss';

* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    background-color: $backgroundPrimary;
}

.main-page {

    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2.5fr;

    &__friends-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        height: 100%;
        background-color: $backgroundSecondary;
    }

    &__chat-area {
        padding: 20px;
        height: 100%;
    }
}