$backgroundPrimary: #434349;
$backgroundSecondary: #35353A;

$labelPrimary: #FFFFFE;
$labelSecondary: #58C18E;

$inputPrimary: #C3B29A;

$btnPrimary: #58C18E;
$btnSecondary: #515158;

$message: #58C18E;
$messageSelf: #515158;