$backgroundPrimary: #434349;
$backgroundSecondary: #35353a;
$backgroundAccept: green;

$labelPrimary: #fffffe;
$labelSecondary: #58c18e;

$inputPrimary: #c3b29a;

$btnPrimary: #58c18e;
$btnSecondary: #515158;

$message: #58c18e;
$messageSelf: #515158;

$signForm: #27262a;

$newMessageArea: #2d2d30;
